.ans{
    align-self:flex-start;
    border-radius: 10px;
    min-height: 30px;
    color: lightgrey;
    background-color: #0D2646;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    min-width: 60px;
    max-width: 800px;
}